@charset "utf-8";
table.back{
    background-color: rgb(227, 215, 177);
    border: 2px #000000 solid;
margin: auto;
}

th.border{
    border: 1px rgb(78, 8, 199) solid;
    text-align: center;
}

td.align{
    text-align: center;
}

table,th,td{
    border: 1px #000000 solid;
    border-collapse: collapse;
}
table.color2{
    background-color: rgb(7, 207, 210);
    border: 2px #000000 solid;
    text-align: center;
}

col.money{
    color: rgb(212, 230, 17);
}